.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.makeStyles-drawerOpen-7 {
    width: 240px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background-color: #382F9C !important
}

.makeStyles-drawerClose-8 {
    width: 73px;
    background-color: #382F9C !important;
}

.sidebartext {
    color: white !important;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}


/* .MuiDivider-root {
border: none;
height: 1px;
margin: 0;
flex-shrink: 0;
background-color: rgba(0, 0, 0, 0.12);
} */

.MuiDivider-root.divider {
    border: none;
    height: 2px !important;
    margin: 0px 0px 0px 18px !important;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.12);
    width: 25px !important;
}

.makeStyles-appBarShift-3 {
    width: calc(100% - 240px);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 240px;
    background-color: white !important
}


/* Header */

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: black
}


/* Button */


/* .content-Button{
background-color: #E9E8F4 !important;
color:#382F9C !important;
margin: -31px 0 0 490px !important;
float: inline-end !important;
} */
.add-icon{
    font-size: 17px;
    font-weight: 800;
}
.MuiButton-contained.home-main {
    color: #382F9C !important;
    float: right;
    font-weight: 800;
    /* margin: 0 0 0 746px !important; */
}
.home-main .MuiIcon-colorPrimary {
    color: #3f51b5;
    font-size: 15px;
    font-weight: 900;
}
.MuiButton-contained.Home-Table {
    color: #382F9C !important;
    float: right;
    font-weight: bold;
    margin: 0 -27px 0 0 !important;
}


/* Dashboard */

.dashboard-container {
    height: 300px;
    background-color: rgb(255, 255, 255);
    /* border:2px solid rgb(224, 214, 214); */
    font-weight: bold;
}


/* Table */


/* .MuiTableContainer-root {
width: 102% !important;
overflow-x: auto;
height: 275px !important;
} */


/* TransperantButton */

.MuiButton-outlinedPrimary {
    border: 1px solid #3f51b5;
    background-color: rgba(63, 81, 181, 0.04);
    width: 100%;
    margin: 8px 0 0 0 !important;
}

.transparent-buttonimage {
    padding: 0px 10px 0 0px;
}


/* ViewButton */

.view-Button {
    width: 10px !important;
    height: 25px;
}
/* timesheet */
.timesheet-container{
    padding-left: 13px;
    padding-right: 20px;
}
.timesheet-title-container{   
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 16px;
}
/* screenshot */

.screenshot-devider {
    width: 300px !important;
}


/* Record */

.Report-Card {
    height: 70px;
    width: 300px;
    margin: 20px 0 0 25px;
}


/* TODO */

.Todo-Card-Date {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 20px 0 0 0;
}

.Todo-Card-content {
    width: 600px;
    margin: -62px 0px 0px 70px;
    background-color: #FFFFFFFF;
}

.dot-time {
    float: right;
    margin: 16px 4px;
}

.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: 15px 0 0 0;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin: 15px 0 0 0;
}

.add-proj {
    float: none
}


/* .Table-main{
height: 220px !important;
margin: -10px 0 0 0;
width: 687px !important;
} */

.play-Button {
    background-color: #3f51b5;
}

.MuiTypography-displayBlock {
    display: block;
    font-size: 12px !important;
}

.MuiDivider-vertical.contentverdivider {
    background-color: rgb(224, 224, 224) !important;
    margin: 0 0 0 -2px !important;
    width: 1px !important;
    height: 620px !important;
}

.MuiDivider-vertical.sidebarver-divider {
    background-color: rgb(224, 224, 224) !important;
    margin: 0 0 0 -2px !important;
}


/****toolbar***/

.MuiButtonBase-root.hide-icon {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    top: 47px;
    left: -19px;
}

.makeStyles-toolbar-9.toolbaricon {
    display: flex;
    padding: 0px 19px;
    min-height: 56px;
    align-items: center;
    /* justify-content: flex-end; */
}
.toolbar-left-side .MuiGrid-align-items-xs-center {
    align-items: flex-start;
    border:0px  !important;
}

.toolbar-left-side .MuiButtonGroup-contained {
    box-shadow: none;
    border: 1px solid #e2e0e0;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 0  !important;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-right: 1px solid rgba(224, 224, 224, 1);
}
.MuiPaper-elevation4 {
    box-shadow:none !important;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
}
.MuiTableCell-root:last-child{
	border:none;
}
.MuiTableCell-head {   
    font-size: 13px !important;
    color: #000 !important;
    background-color: rgb(255, 255, 255) !important;
    line-height: 1rem !important;
    font-weight: bold !important;
}

.MuiTableCell-body {
    line-height: 1rem !important;   
    font-size: 12px !important;
}

.table-button-icon {
    margin: -30px 0 0 0 !important;
}

.makeStyles-table-12 {
    min-height: 144px;
    min-width: 666px !important;
}

.avatar-image {
    color: aliceblue;
    margin: 0 0 0 20px;
}

.table-box {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 1px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 3px;
}