html {
  scrollbar-width: none;
}
body{
    background-color: rgb(255, 255, 255) !important;     
}

.makeStyles-drawerOpen-7 {
    width: 240px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    scrollbar-width: none;
    background-color: #382F9C !important;
}

.makeStyles-drawerClose-8 {
    width: 73px;
    scrollbar-width: none;
    background-color: #382F9C !important;
}
.sidebar {
    color: #bbb8dd !important;   
    margin-bottom: 5px;
    margin-top: 5px;
}
.nav-link{
    color: #bbb8dd; 
}
.nav-link:hover{
    color: #bbb8dd; 
}
.logo-icon {
    width: 22px !important;
    height: 22px;
}
.topbar-logo{
    margin-left:-8px
}
.sidebar-img{   
    padding-right:20px;
}
.sidebar-icon{
    width: 22px !important;
    height: 22px;
}
.sidebar-text{
    position: relative;
    top: 3px;
}
.sidebar .MuiTypography-displayBlock {   
    font-size: 13px !important;
    
}
.overlay-div{
    z-index: 1;
}
.overlay-img{
    width: 32px;
    height: 190px;   
}
.header-divider{
    border: none;
    height: 0px !important;
    margin: 0;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.MuiDivider-root.divider {
    border: none;
    height: 2px !important;
    margin: 18px 0px 18px 18px !important;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.12);
    width: 28px !important;
}

.makeStyles-appBarShift-3 {
    width: calc(100% - 240px);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 240px;
    background-color: white !important
}


/* Header */

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: black
}


/* Button */



.add-icon{
    font-size: 17px;
    font-weight: 800;
}
.MuiButton-contained.dashboard-main {
    color: #382f9c !important ;
    float: right;
    font-weight: 800;
    box-shadow: none;
    background-color: #e9e8f4;
    /* margin: 0 0 0 746px !important; */
}
.dashboard-main .MuiIcon-colorPrimary {
    color: #382f9c;
    font-size: 15px;
    font-weight: 900;
}
.MuiButton-contained.dashboard-Table {
    color: #382f9c !important;
    float: right;
    font-weight: bold;
    box-shadow: none;
    background-color: #e9e8f4;
    margin: 0 -12px 0 0 !important;
}


/* Dashboard */

.dashboard-container {
    height: 365px;
    background-color: rgb(255, 255, 255);
    /* border:2px solid rgb(224, 214, 214); */
    font-weight: bold;
}

/* ViewButton */

.view-Button {
    width: 10px !important;
    height: 25px;
}
/* timesheet */
.timesheet-container{
    padding-left: 13px !important;
    padding-right: 20px !important;
}
.timesheet-title-container{   
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
}
/* screenshot */

.screenshot-devider {
    width: 300px !important;
}


/* Record */

/* .Report-Card {
    height: 70px;
    width: 300px;
    margin: 20px 0 0 25px;
} */


/* TODO */

.Todo-Card-Date {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 34px 0 0 0;
}

.Todo-Card-content {
    width: 600px;
    margin: -62px 0px 0px 70px;
    background-color: #FFFFFFFF;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 8px 1px 0px rgb(0 0 0 / 2%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}

.Todo-Card-content1 {
    width: 600px;
    margin: -62px 0px 0px 70px;
    background-color: #FFFFFFFF;
    border: 1px solid #e3e3e3;
    box-shadow: none !important;
}
.dot-time {
    float: right;
    margin: 16px 4px;
}
.add-proj {
    float: none
}


/* .Table-main{
height: 220px !important;
margin: -10px 0 0 0;
width: 687px !important;
} */

.play-Button {
    background-color: #3f51b5;
}

.MuiTypography-displayBlock {
    display: block;
    font-size: 12px !important;
}

.MuiDivider-vertical.contentverdivider {
    background-color: rgb(224, 224, 224) !important;
    margin: 0 0 0 -2px !important;
    width: 1px !important;
    /* height: 620px !important; */
}

.MuiDivider-vertical.sidebarver-divider {
    background-color: rgba(255, 255, 255, 0.12) !important;    
    margin: 0 0 0 -2px !important;
}


/****toolbar***/

.MuiButtonBase-root.hide-icon {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    top: 47px;
    left: -19px;
}

.makeStyles-toolbar-9.toolbaricon {
    display: flex;
    padding: 0px 19px;
    min-height: 56px;
    align-items: center;
    /* justify-content: flex-end; */
}
.toolbar-left-side .MuiGrid-align-items-xs-center {
    align-items: flex-start;
    border:0px  !important;
}

.toolbar-left-side .MuiButtonGroup-contained {
    box-shadow: none;
    border: 1px solid #e2e0e0;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 12px !important;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 0  !important;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
    border-right: 1px solid rgba(224, 224, 224, 1);
}
.MuiPaper-elevation4 {
    box-shadow:none !important;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
}
.MuiTableCell-root:last-child{
	border:none;
}
.MuiTableCell-head {   
    font-size: 13px !important;
    color: #000 !important;
    background-color: rgb(255, 255, 255) !important;
    line-height: 1rem !important;
    font-weight: bold !important;
}

.MuiTableCell-body {
    line-height: 1rem !important;   
    font-size: 12px !important;
}

.table-button-icon {
    margin: -30px 0 0 0 !important;
}

.makeStyles-table-12 {
    min-height: 144px;
    min-width: 666px !important;
}

.avatar-image {
    color: aliceblue;
    margin: 0 0 0 20px;
}

.table-box {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 1px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 3px;
}


::-webkit-scrollbar {
    width: 3px;
  }
  -ms-overflow-style{
    width: 3px; 
  }
  .active {
    /* background-color: white; */
    color:white ;
    font-weight:bold;
 }

 .sidebar-footer{
    position: sticky;
    bottom: 0px;
    background-color: #382F9C !important;
    width: 240px;
 }
 .sidebar-footeronhide{
    position: sticky;
    bottom: 0px;
    background-color: #382F9C !important;
    width: 240px;
    margin-left: -8px;
 }
.report-title-container{
    margin-top: 10px;
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 17px;
}


.Report-div{
width: 100%;
}

.Report-card{
    margin-bottom: 20px;   
}

.report-percent-card{
    height: 25px;
}


.MuiButton-outlinedPrimary {
    border: 1px solid #3f51b5;
    background-color: rgba(63, 81, 181, 0.04);
    width: 100%;
    margin: 18px 0 0 0;
    height: 45px;
}
.trans-button{
    border-radius: 6px !important;
}
.transparent-buttonimage {
    padding: 0px 10px 0 0px;
    width: 25px;
}

.screenshot-divider {
    width: 305px !important;
    margin-left: 17px !important;
}
.screenshots-title-container{
    margin-bottom:26px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}
.screenshot-text .MuiTypography-displayBlock {
    display: block;
    font-size: 14px !important;
    font-weight: bold;
}
.todo-title-container{
    margin-bottom:32px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}
@media (min-width: 600px){
    .makeStyles-drawerClose-8 {
        width: 63px !important;
    }    
    }  
 
    .arrow-icon-left{
        margin: 0 13px 0 -19px;
    }

    .curve{
        margin: 0 0 0 5px;
    }
  